@model AzureHunter.ViewModels.ViewModelFile

@{
    ViewBag.Title = "GetFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetFile</h2>

<div>
    <h4>ViewModelFile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileType)
        </dd>

    </dl>
    @using (Html.BeginForm("GetFileContent", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        <div class="form-actions no-color">
            <input type="submit" value="Get File Content" class="btn btn-default" /> |
        </div>
    }
</div>
<p>
    @Html.ActionLink("Back to Files", "Files")
</p>
